body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ffc8c8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    nav a {
        text-decoration: none;
    }

    .signup-btn {
        border-radius: 8px;
        background-color: #3882F6;
        color: white;
        padding: 8px 20px; 
        border: none; 
        font-weight: bold;
    }

header h1, ul, .information h3 {
    margin: 0;
}

.header {
    background-color: rgb(255, 227, 176);
    display: flex;
    flex: 1;
}

    .header .headercontainer {
        background-color: orange;
    }

    .header img {
        height: 100%;
    }

.information {
    background-color: rgb(255, 255, 195);
    flex: 1;
}

    .information h3 {
        text-align: center;
    }

    .information img {
        width: 100%;
    }

    .information .container {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .info-card {
        text-align: center;
        width: 200px;
    }

    

footer {
    background-color: rgb(175, 223, 175);
    margin-top: auto;
}

/* border: 2px dotted red; */
